name: CI (with KernelSU)

on:
  workflow_dispatch:
    inputs:
      kernel-branch:
        required: true
        type: string
      release-type:
        required: true
        type: choice
        options:
        - kaihatsu
        - seishiki
        default: 'kaihatsu'
      device-codename:
        required: true
        type: choice
        options:
        - a71
        - a715

jobs:
  build-kernel:
    name: Build Kernel with KernelSU
    runs-on: ubuntu-latest
    steps:
      - name: Display parameters
        uses: m-s-abeer/update-gha-summary-with-workflow-inputs@v1

      - name: Build
        uses: frstprjkt/kernel_build_action@main
        with:
          kernel-url: https://github.com/SAM-715-ID/kernel_Bekicot
          kernel-branch: ${{ github.event.inputs.kernel-branch }}
          config: sdmmagpie_defconfig a71.config
          arch: arm64
          ksu: true
          ksu-skip-patch: true
          ksu-other: true
          ksu-url: https://github.com/backslashxx/KernelSU
          ksu-version: master
          aosp-gcc: true
          aosp-clang: true
          aosp-clang-version: r547379
          anykernel3: true
          anykernel3-url: https://github.com/SAM-715-ID/AnyKernel3
          anykernel3-branch: ${{ github.event.inputs.device-codename }}
          extra-cmd: LLVM=1 LLVM_IAS=1 KBUILD_BUILD_USER=KeongBalap
          custom-package-name: KeongBalap-ksu-Bodrexin_$(date +%d%H%M)_${{ github.event.inputs.device-codename }}-${{ github.event.inputs.release-type }}
